.elmt{
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
    border-radius: 3px;
    color: rgb(112, 112, 112);
}

.elmt:hover{
    transform: scale(1.02);
}

.elmt img{
    display: block;
    width: 100%;
}

.elmt-content{
    padding: 20px;
}

.elmt-content h1, .elmt-content h2{
    font-weight: 400;
}

.elmt-content h1{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #7b7b7b;
    margin: 0;
}

.elmt-content h2{
    font-size: 1rem;
    margin-top: 5px;
}

.elmt-content h3{
    font-size: .8rem;
}
.elmt-content p{
    font-size: .8125rem;
    line-height: 1.5;
}

.elmt-footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
}

.btn-addToCart{
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}





.qty-input {
    color: #000;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.qty-input .product-qty, .qty-input .qty-count {
    background: transparent;
    color: inherit;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2.5rem;
    line-height: 1;
}
.qty-input .product-qty:focus, .qty-input .qty-count:focus {
    outline: none;
}
.qty-input .product-qty {
    width: 50px;
    min-width: 0;
    display: inline-block;
    text-align: center;
    appearance: textfield;
}
.qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.qty-input .qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;
}
.qty-input .qty-count:before, .qty-input .qty-count:after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.qty-input .qty-count--minus {
    border-right: 1px solid #e2e2e2;
    margin-left: 30px;
}
.qty-input .qty-count--add {
    border-left: 1px solid #e2e2e2;
}
.qty-input .qty-count--add:after {
    transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
    color: #ccc;
    background: #f2f2f2;
    cursor: not-allowed;
    border-color: transparent;
}
.qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
    background: #ccc;
}


