<p>Details de la commande</p>
<table class="table cmd-details">
    <tbody>
        <tr>
            <th class="text-right">Client</th>
            <td>{{cmd.clientObj.nom}} {{cmd.clientObj.prenom}}</td>
        </tr>
        <tr>
            <th class="text-right">Date</th>
            <td>{{formatDate(cmd.dateCommande)}}</td>
        </tr>
        <tr>
            <th class="text-right">Adresse de livraison</th>
            <td>{{cmd.adresse}}</td>
        </tr>
        <tr>
            <th class="text-right">Statut</th>
            <td>{{commandeEtats[cmd.etat]}}</td>
        </tr>
        <tr *ngIf="cmd.etat >= 3">
            <th class="text-right">Livreur</th>
            <td>{{cmd.livreurObj.nom}} {{cmd.livreurObj.prenom}}</td>
        </tr>
    </tbody>
</table>
<div class="btn-box">
    <button *ngIf="cmd.etat == 2" class="btn-commander btn" (click)="triggerModal(modalData)" type="button">
        Assigner à un livreur
    </button>
  </div>
<table class="table cmd-details">
    <thead>
      <tr>
        <th>Restaurant</th>  
        <th>Plat</th>
        <th>P.U</th>
        <th>Qté</th>
        <th>Montant</th>
        <th>Montant total par restaurant</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cmdDet of details; let index = index;">
        <td *ngIf="cmdDet.resto" [attr.rowspan]="cmdDet.resto.nbrElmt">{{cmdDet.resto.restaurant.nom}}</td>  
        <td>{{cmdDet.produit.nom}}</td>
        <td class="text-right">{{cmdDet.produit.prix}}</td>
        <td class="text-right">{{cmdDet.qte | number: '1.0-0'}}</td>
        <td class="text-right">{{cmdDet.produit.prix * cmdDet.qte | number: '1.2-2'}}</td>
        <td class="text-right" *ngIf="cmdDet.resto" [attr.rowspan]="cmdDet.resto.nbrElmt">{{cmdDet.resto.montant | number: '1.2-2'}}</td>  
        <td *ngIf="cmdDet.resto" [attr.rowspan]="cmdDet.resto.nbrElmt">{{commandeEtats[cmdDet.resto.etat]}}</td>
      </tr>
        <tr>
            <td class="no-border" colspan="4"></td>
            <td class="text-right">Montant</td> 
            <td class="text-right">{{cmd.montant | number: '1.2-2'}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="no-border" colspan="4"></td>
            <td class="text-right">Frais de livraison</td> 
            <td class="text-right">{{cmd.fraisLivraison | number: '1.2-2'}}</td>
            <td></td>
        </tr>
        <tr>
            <td class="no-border" colspan="4"></td>
            <td class="text-right">Total</td> 
            <td class="text-right">{{cmd.total | number: '1.2-2'}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<ng-template #modalData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Assigner la livraison à un livreur</h4>
        <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="searchLivreur">Rechercher le livreur ici</label>
            <div class="autocomplete-block">
                <input type="text" class="form-control" id="searchLivreur" [(ngModel)]="searchLivreur" (keydown.arrowup)="livreurArrowKeyChange($event, -1)" (keydown.arrowdown)="livreurArrowKeyChange($event, 1)" (focus)="focusFunction()" (focusout)="focusOutFunction()" (keydown.enter)="selectLivreur()" (ngModelChange)="focusFunction()">
                <div *ngIf="showDropdown" class="autocomplete-down" >
                    <div *ngFor="let l of livreurs; let index = index;" class="autocomplete-item {{index == currentLivreurIndex ? 'active':''}}" click="livreurItemClicked(index)">{{l.nom}} {{l.prenom}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close(dismissReasons.assignerLivreur)">Assigner</button>
        <button type="button" class="btn btn-danger" (click)="modal.close(dismissReasons.cancel)">Annuler</button>
    </div>
</ng-template>