header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: brown;
    min-height: 86px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999;
}

.container-fluid{
    margin-top: 96px;
    padding-left: 10px;
    margin-bottom: 200px;
}

#sidebar {
    position: fixed;
    z-index: 999;
    width: 200px;
    top: 86px;
    left: 0;
    background-color: #eee;
    border: 1px solid #ddd;
    font-weight: bold;
    color: rgb(107, 102, 102);
    padding: 10px;
    padding-top: 15px;
    height: 100%;
    transition: 0.5s;
}

#sidebar .elmts > *{
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


#menu-close{
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#menu-bars{
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .container-fluid{
        padding-left: 210px;
    }
}

.menu-item.active{
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);
    border-radius: 5px;
    transform: scale(1.02);
}

footer{
    background-color: brown;
    color: #fff;
    max-height: 100px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 88;
}

@media screen and (min-width: 500px){
    footer{
        padding-right: 210px;
    }
}