<header>
  <div class="d-flex align-items-center justify-content-start">
    <img src="assets/img/logo5.png" alt="e-kaly" />
    <div id="menu-bars"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></div>
  </div>
  <div class="d-flex align-items-center justify-content-end" *ngIf="loggedIn">
    <button type="button" class="btn btn-outline-light" (click)="logout()">Se déconnecter</button>
  </div>
  <div class="d-flex align-items-center justify-content-end" *ngIf="!loggedIn">
    <button type="button" class="btn btn-outline-light">Se connecter</button>
  </div>
</header>
<div class="container-fluid">
  <div id="sidebar" class="d-flex flex-column">
    <div id="menu-close">
      <i class="fa fa-times fa-lg"></i>
    </div>
    <div class="elmts">
      <div *ngFor="let menuItem of menu[menuKey]; let index = index;" class="menu-item {{menuItem.active?'active':''}}" (click)="clickMenuItem(index)">{{menuItem.nom}}</div>
    </div>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

